#TopBar {
    background-color: #052d25;
    margin: 0px auto;
    width: 90vw;
    margin-top: 0.5rem;
    color: #d87a19;
    padding: 0.4rem;
    border-radius: 0.7rem;
}
.TopBar_Left {
    float: left;
}
.TopBar_Right {
    float: right;
}
.TopBar__LangImg {
    max-height: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
}
.TopBar__LangImg:hover {
    cursor: pointer;
}