#Content {
    padding: 0.4rem;
    margin: 0.5rem auto;
    min-height: 70vh;
    width: 90vw;
    text-align: center;
    vertical-align: top;
    background-color: #3f3d3d;
    border-radius: 0.7rem;
    color: #b3b3b3;
}
.textfield__label {
    color: #b3b3b3 !important;
}
.textfield {
    color: white !important;
}