/*Main App set:*/
body {
  background-color: #161521;
}

.App {
  text-align: center;
  background-color: #161521;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.Link {
  font: inherit;
  color: rgb(64 120 165);
  text-decoration: underline rgba(144, 202, 249, 0.4);
}

.Link:hover{
  color: rgb(144, 202, 249);
  text-decoration: underline rgba(144, 202, 249, 0.7);
}

.DivClear {
  clear: both;
}

/*ScrollBar set:*/
::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: #232323;
}
::-webkit-scrollbar-thumb {
  background: #14314c;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Fieldset&legend set:*/
fieldset {
  border: 0.5rem solid #1a59a757;
  background: #0000001a;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  max-width: 500px;
}
fieldset legend {
  background: #1f497d99;
  color: #e29800;
  padding: 0.1rem 0.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0 0.15rem #1f497d40;
  font-weight: bold;
}

/*Turn off the background color change on auto complete in input forms:*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.maxWidth {
  min-width: 85%;
}

