body {
  background-color: #161521;
}

.App {
  text-align: center;
  background-color: #161521;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.DivClear {
  clear: both;
}
